BasedOnStyle: LLVM

Language: Cpp

AlignOperands: false
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: true
BreakConstructorInitializers: BeforeComma
ColumnLimit: 0
FixNamespaceComments: false
IndentCaseLabels: true
IndentWidth: 4
SortIncludes: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: true
AlignAfterOpenBracket: DontAlign
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: WithoutElse
