BasedOnStyle: Google
Language: Cpp
AlignAfterOpenBracket: DontAlign
AlignOperands: true
BraceWrapping:
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  BeforeElse: true
  SplitEmptyRecord: true
  AfterStruct: true
  AfterClass: true
  AfterUnion: true
  BeforeCatch: true
BreakBeforeBraces: Custom
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 0
ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 0
FixNamespaceComments: false
IndentCaseLabels: true
IndentWidth: 4
SortIncludes: false
SpaceAfterTemplateKeyword: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesBeforeTrailingComments: 1
NamespaceIndentation: All
AccessModifierOffset: -4