[submodule "glslang"]
	path = Dependencies/glslang
	url = https://github.com/BabylonJS/glslang
[submodule "SPIRV-Cross"]
	path = Dependencies/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "bgfx.cmake"]
	path = Dependencies/bgfx.cmake
	url = https://github.com/BabylonJS/bgfx.cmake
[submodule "Dependencies/xr/Dependencies/OpenXR-SDK"]
	path = Dependencies/xr/Dependencies/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "Dependencies/xr/Dependencies/arcore-android-sdk"]
	path = Dependencies/xr/Dependencies/arcore-android-sdk
	url = https://github.com/google-ar/arcore-android-sdk
[submodule "Dependencies/xr/Dependencies/OpenXR-MixedReality"]
	path = Dependencies/xr/Dependencies/OpenXR-MixedReality
	url = https://github.com/microsoft/OpenXR-MixedReality.git

