[submodule "base-n"]
	path = Dependencies/base-n
	url = https://github.com/azawadzki/base-n
[submodule "arcana.cpp"]
	path = Dependencies/arcana.cpp
	url = https://github.com/microsoft/arcana.cpp
[submodule "glslang"]
	path = Dependencies/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "SPIRV-Cross"]
	path = Dependencies/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "bgfx.cmake"]
	path = Dependencies/bgfx.cmake
	url = https://github.com/BabylonJS/bgfx.cmake
[submodule "Dependencies/ios-cmake"]
	path = Dependencies/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "Dependencies/xr/Dependencies/OpenXR-SDK"]
	path = Dependencies/xr/Dependencies/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK
[submodule "Dependencies/xr/Dependencies/arcore-android-sdk"]
	path = Dependencies/xr/Dependencies/arcore-android-sdk
	url = https://github.com/google-ar/arcore-android-sdk
[submodule "Dependencies/xr/Dependencies/OpenXR-MixedReality"]
	path = Dependencies/xr/Dependencies/OpenXR-MixedReality
	url = https://github.com/microsoft/OpenXR-MixedReality.git
[submodule "Dependencies/asio"]
	path = Dependencies/v8inspector/Dependencies/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "Dependencies/llhttp"]
	path = Dependencies/v8inspector/Dependencies/llhttp
	url = https://github.com/nodejs/llhttp
[submodule "Dependencies/LabSound"]
	path = Dependencies/LabSound
	url = https://github.com/LabSound/LabSound.git
