trigger:
- master

pr:
- master

variables:
- name: CMAKE_VERSION
  value: 3.19.6
  
jobs:
# Apple
  - template: .github/jobs/macos.yml
    parameters:
      name: MacOS_Xcode11
      vmImage: 'macOS-10.14'
      xCodeVersion: 11.3.1

  - template: .github/jobs/ios.yml
    parameters:
      name: iOS_Xcode11
      vmImage: 'macOS-10.14'
      xCodeVersion: 11.3.1

  - template: .github/jobs/macos.yml
    parameters:
      name: MacOS_Xcode12
      vmImage: 'macOS-10.15'
      xCodeVersion: 12.4

  - template: .github/jobs/ios.yml
    parameters:
      name: iOS_Xcode12
      vmImage: 'macOS-10.15'
      xCodeVersion: 12.4

# WIN32
  - template: .github/jobs/win32.yml
    parameters:
      name: Win32_x86
      vmImage: 'windows-latest'
      platform: win32
  
  - template: .github/jobs/win32.yml
    parameters:
      name: Win32_x64
      vmImage: 'windows-latest'
      platform: x64

# UWP
  - template: .github/jobs/uwp.yml
    parameters:
      name: UWP_x86
      vmImage: 'windows-latest'
      platform: win32
  
  - template: .github/jobs/uwp.yml
    parameters:
      name: UWP_x64
      vmImage: 'windows-latest'
      platform: x64
  
  - template: .github/jobs/uwp.yml
    parameters:
      name: UWP_arm64
      vmImage: 'windows-latest'
      platform: arm64

# Ubuntu/Linux
  - template: .github/jobs/linux.yml
    parameters:
      name: Ubuntu_Clang8
      vmImage: 'ubuntu-latest'
      CC: clang-8
      CXX: clang++-8
  
  - template: .github/jobs/linux.yml
    parameters:
      name: Ubuntu_GCC9
      vmImage: 'ubuntu-latest'
      CC: gcc-9
      CXX: g++-9
      
  - template: .github/jobs/linux.yml
    parameters:
      name: Ubuntu_GCC10
      vmImage: 'ubuntu-latest'
      CC: gcc-10
      CXX: g++-10

# Android
  - template: .github/jobs/android.yml
    parameters:
      name: Android_Ubuntu_JSC
      vmImage: 'ubuntu-latest'
      JSEngine: jsc
      
  - template: .github/jobs/android.yml
    parameters:
      name: Android_Ubuntu_V8
      vmImage: 'ubuntu-latest'
      JSEngine: v8android
      
  - template: .github/jobs/android.yml
    parameters:
      name: Android_MacOS_JSC
      vmImage: 'macOS-10.14'
      JSEngine: jsc
      
  - template: .github/jobs/android.yml
    parameters:
      name: Android_MacOS_V8
      vmImage: 'macOS-10.14'
      JSEngine: v8android
