name: Dispatch master branch update ${{ github.sha }}

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  dispatch:
    name: Dispatch ${{ github.sha }}
    runs-on: windows-latest
    strategy:
      matrix:
        repo: ['chrisfromwork/BabylonReactNative']
    steps:
      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: babylonnative-master-update
          client-payload: '{ "sha": "${{ github.sha }}" }'
