name: Nightly build

on:
  schedule:
    - cron: 0 23 * * 1-5

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        submodules: 'recursive'
    - name: Make Solution
      run: mkdir buildWin32_x64 && 
        cd buildWin32_x64 &&
        cmake -G "Visual Studio 16 2019" -A x64 ..
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.1
    - name: Download babylon.max.js
      run: curl.exe -o Apps\BabylonScripts/babylon.max.js https://raw.githubusercontent.com/BabylonJS/Babylon.js/master/dist/preview%20release/babylon.max.js
    - name: Download babylonjs.materials.js
      run: curl.exe -o Apps\BabylonScripts/babylonjs.materials.js https://raw.githubusercontent.com/BabylonJS/Babylon.js/master/dist/preview%20release/materialsLibrary/babylonjs.materials.js
    - name: Download babylon.glTF2FileLoader.js
      run: curl.exe -o Apps\BabylonScripts/babylon.glTF2FileLoader.js https://raw.githubusercontent.com/BabylonJS/Babylon.js/master/dist/preview%20release/loaders/babylon.glTF2FileLoader.js
    - name: Build Win32
      run: msbuild buildWin32_x64/BabylonNative.sln -p:Configuration="RelWithDebInfo" -p:Platform=x64
    - name: Make validation directories 
      run: cd buildWin32_x64/Apps/ValidationTests &&
          mkdir Results &&
          mkdir Errors
    - name: Enable Crash Dumps
      run: |
        reg add "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps\ValidationTests.exe"
        reg add "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps\ValidationTests.exe" /v DumpType /t REG_DWORD /d 2
        reg add "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps\ValidationTests.exe" /v DumpCount /t REG_DWORD /d 2
        reg add "HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\Windows Error Reporting\LocalDumps\ValidationTests.exe" /v DumpFolder /t REG_SZ /d "$GITHUB_WORKSPACE/buildWin32_x64/Apps/ValidationTests/RelWithDebInfo"
    - name: Run Validation Tests
      run: ./ValidationTests.exe
      working-directory: buildWin32_x64/Apps/ValidationTests/RelWithDebInfo
    - name: Upload Errors images artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
          name: ErrorImages
          path: |
            buildWin32_x64/Apps/ValidationTests/Errors
    - name: Upload Result images artifact
      uses: actions/upload-artifact@v2
      with:
          name: ResultImages
          path: |
            buildWin32_x64/Apps/ValidationTests/Results  
    - name: Upload Crash dump artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
          name: CrashDumps
          path: |
            buildWin32_x64/Apps/ValidationTests/RelWithDebInfo
